<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CassandraSharp" type="CassandraSharp.SectionHandler, CassandraSharp.Interfaces" />
  </configSections>

  <CassandraSharp>
    <Cluster name="AWS_VPC_SA_EAST_1">
      <Endpoints>
        <Server>54.201.93.184</Server>
        <Server>52.88.48.116</Server>
        <Server>54.201.83.65</Server>
      </Endpoints>
      <Transport user="iccassandra" password="f8648fdddc68dd1054a519a7c3a373e3" />
    </Cluster>
  </CassandraSharp>
</configuration>